<!DOCTYPE html>
<html>
<head>
    <meta name= "viewport" content="width=device-width, initial scale">
    <title>Product App</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="nav-bar">
      
    </div>

    <div id="app">
        <div class="product">

            <div class="product-image">
                <img :src="image">
            </div>

            <div class="product-info">
                <h1> {{ product }} </h1>
                <p>This particular {{product}} has a {{complement}} </p>
                <p v-if="inventory > 10" style = "color: blue;">In Stock</p>
                <p v-else-if="inventory <= 10 && inventory > 0" style = "color: red;">Almost Gone!</p>
                <p v-else style = "color: grey;">Out of Stock</p>

                <ul>
                <!--The word in the place of "specs" must be the same as the word in the li
                "details corresponds to the array name in the js file."-->    
                    <li v-for="specs in details">{{specs}}</li>
                </ul>

                <div v-for="variant in variants" 
                    :key="variant.variantId"
                    class="select-color"
                    :style="{ backgroundColor: variant.variantColorCode }"
                    @mouseover="updateProduct (variant.variantImage)"> 
                </div>
                <!-- <p>Color:</p>
                <ul class="colors"> 
                    <li v-show="blue" class="state">Blue</li>
                    <li v-show="red" class="state">Red</li>
                    <li v-show="green" class="state">Green</li>
                </ul> -->

                <button @click="addToCart ()">Add to Cart</button>
                <button @click="removeFromCart" style="background-color: rgb(196, 29, 29);">Remove from cart</button>
                <div class="cart">
                    <p>Cart ({{cart}})</p>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>
